<nav class="dig-navbar">
  <div class="dig-navbar__logo">
    <%= link_to(image_tag("logo.svg"), root_path) %>
  </div>
  <div class="dig-navbar__buttons-area">
    <div class="dig-navbar__buttons-area__buttons">
      <%= link_to("Idea", about_path) %>
      <%= link_to("Projekty", about_path) %>
      <%= link_to("Organizacje", about_path) %>
      <%= link_to("Zaloguj się", new_user_session_path) %>
      <%= link_to("Dołącz do nas", new_user_registration_path, class: "register") %>
    </div>
  </div>
</nav>