<nav class="dig-navbar">
  <div class="dig-navbar__logo">
    <%= link_to(image_tag("logo.svg"), root_path) %>
  </div>
  <div class="dig-navbar__buttons-area">
    <div class="dig-navbar__buttons-area__buttons">
      <%= link_to("Idea", about_path) %>
      <%= link_to("Projekty", organisations_path) %>
      <%= link_to("Organizacje", organisations_path) %>
      <% if current_user.nil? %>
      <%= link_to("Zaloguj się", new_user_session_path) %>
      <%= link_to("Dołącz do nas", new_user_registration_path, class: "register") %>
      <% else %>
        <div class="dig-dropdown">
          <a href="#" class="dropdown-button">Witaj, <%= current_user.first_name %></a>
          <div class="dropdown-content">
            <ul>
              <li><%= link_to("Moje konto", user_path(current_user)) %></li>
              <li><%= link_to("Moje projekty", user_path(current_user)) %></li>
              <li><%= link_to("Edytuj profil", edit_user_path(current_user)) %></li>
              <li><%= link_to("Wyloguj się", destroy_user_session_path(current_user)) %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>