<!DOCTYPE html>
<html>
  <head>
    <title>DoItGood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="do-it-good-body">
    <%= render "shared/navbar" %>
    <div class="dig-main">
      <%= render "shared/sidebar" if @render_sidebar %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= render 'cookies_eu/consent_banner', link: cookies_path %>
  </body>
</html>
